<!--<ion-app>-->
<!--  <ion-split-pane contentId="main-content">-->
<!--    <ion-menu contentId="main-content" type="overlay">-->
<!--      <ion-content>-->
<!--        <ion-menu-toggle auto-hide="false">-->
<!--          <ion-item routerDirection="root" [routerLink]="'/trainer'" lines="none" detail="false" routerLinkActive="selected">-->
<!--            <ion-icon slot="start" [ios]="'TODO-outline'" [md]="'TODO-sharp'"></ion-icon>-->
<!--            <ion-label>Trainer</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-menu-toggle>-->
<!--&lt;!&ndash;        <ion-list id="inbox-list">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-list-header></ion-list-header>&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-note>hi@ionicframework.com</ion-note>&ndash;&gt;-->

<!--&lt;!&ndash;          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">&ndash;&gt;-->
<!--&lt;!&ndash;              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;              <ion-label>{{ p.title }}</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-menu-toggle>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-list>&ndash;&gt;-->

<!--&lt;!&ndash;        <ion-list id="labels-list">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-list-header>Labels</ion-list-header>&ndash;&gt;-->

<!--&lt;!&ndash;          <ion-item *ngFor="let label of labels" lines="none">&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;            <ion-label>{{ label }}</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;          </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-list>&ndash;&gt;-->
<!--      </ion-content>-->
<!--    </ion-menu>-->
<!--    <ion-router-outlet id="main-content"></ion-router-outlet>-->
<!--  </ion-split-pane>-->
<!--</ion-app>-->


<ion-app>
<!--  <ion-menu side="start" menuId="main" contentId="main-content">-->
<!--    <ion-header>-->
<!--      <ion-toolbar color="primary">-->
<!--        <ion-title>Lupernum</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content>-->
<!--      <ion-list>-->
<!--        <ion-menu-toggle auto-hide="false">-->
<!--          <ion-item routerDirection="root" [routerLink]="'/trainer'" lines="none" detail="false" routerLinkActive="selected">-->
<!--            <ion-icon slot="start" [ios]="'TODO-outline'" [md]="'TODO-sharp'"></ion-icon>-->
<!--            <ion-label>Trainer</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-menu-toggle>-->
<!--      </ion-list>-->
<!--    </ion-content>-->
<!--  </ion-menu>-->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
