<div class="flex-wrapper">
  <section>
    <table class="numerals">
      <tr>
        <th>Roman</th>
        <th>Arabic</th>
      </tr>
      <tr>
        <td>I</td>
        <td>1</td>
      </tr>
      <tr>
        <td>V</td>
        <td>5</td>
      </tr>
      <tr>
        <td>X</td>
        <td>10</td>
      </tr>
      <tr>
        <td>L</td>
        <td>50</td>
      </tr>
      <tr>
        <td>C</td>
        <td>100</td>
      </tr>
      <tr>
        <td>D</td>
        <td>500</td>
      </tr>
      <tr>
        <td>M</td>
        <td>1000</td>
      </tr>
    </table>
  </section>

  <section>
    <table class="difficulty">
      <tr>
        <th>Difficulty</th>
        <th>From</th>
        <th>To</th>
      </tr>
      <tr>
        <td>Veles</td>
        <td>1</td>
        <td>12</td>
      </tr>
      <tr>
        <td>Legionarius</td>
        <td>6</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Aquilifer</td>
        <td>21</td>
        <td>600</td>
      </tr>
      <tr>
        <td>Centurio</td>
        <td>100</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>Generale</td>
        <td>1000</td>
        <td>3999</td>
      </tr>
    </table>
  </section>
</div>
<p style="text-align: center;">
  <ion-icon name=""></ion-icon>
  <span style="vertical-align: super; margin-left: .5em;">Press <b><i>Enter</i></b> to check answer.</span>
</p>
